---
layout: default
---
.container
  .row
    .col-lg-3
      .sidebar-nav
        %h4
          Jenkins
        %ul
          %li
            %a{:href => '/doc'}
              Installing Jenkins
        %h4
          Pipelines
        %ul
          %a{:href => '/doc/pipeline/getting-started'}
            Getting Started
          %li
            %a{:href => '/doc/pipeline/running-multiple-steps'}
              Running multiple steps
          %li
            %a{:href => '/doc/pipeline/controlling-your-build-environment'}
              Controlling your build environment
          %li
            %a{:href => '/doc/pipeline/environment-variables'}
              Environment variables
          %li
            %a{:href => '/doc/pipeline/reporting-test-results-and-storing-artifacts'}
              Reporting test results and storing artifacts
          %li
            %a{:href => '/doc/pipeline/notifications'}
              Notifications
          %li
            %a{:href => '/doc/pipeline/deployment'}
              Deployment
          %li
            %a{:href => '/doc/pipeline/parallelism'}
              Parallelism
          %li
            %a{:href => '/doc/pipeline/steps'}
              Advanced steps
        %h4
          Handbook
        %ul
          - book_dir = File.expand_path(File.join(File.dirname(__FILE__), File.join("../", "/doc/book")))
          - sections_from(book_dir).each do |section, file, url, children|
            /
              This section provided by the following document:
              = File.basename(file)
            %li
              %a{:href => url}
                = section
    .col-lg-9
      %h1
        = page.title
      = content
